:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --preto-05: #f5f5f5;
  --preto-100: #464646;
  --preto-branco: #fff;
  --azul-10: #eaf2fd;
  --preto-50: #a2a2a2;
  --azul-100: #2a7ae4;
}

/* .contenedor {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
} */
